<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteBase "/artng"
    # RewriteCond %{HTTPS} off
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [NE,R=302,L]
    RewriteRule "^(.*)" "www/$1"
</IfModule>
